<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.superhero.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="mainContainer">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand LogoTextColor" href="#"><i class="fa fa-2x fa-sun-o"></i> <h4> Unique Art Cutlery</h4></a>
                        </div>
                            </div>
                        <div class="col-md-10 col-xs-10">
                            <div class="row">
                                <div class="row">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav  ">
                                            <li ><a href="#" class="TopMenuColor">Helpline: <i class="fa fa-phone"></i> +91-8860795399 <span class="sr-only">(current)</span></a></li>
                                            <li><a href="#" class="TopMenuColor">Follow us:</a> </li>
                                            <li><a href="#" title="facebook" class="TopMenuColor"><i class="fa fa-2x fa-facebook-square"></i> </a></li>
                                            <li><a href="#" title="twitter" class="TopMenuColor"><i class="fa fa-2x fa-twitter-square"></i> </a></li>
                                            <li><a href="#" title="LinkedIn" class="TopMenuColor"><i class="fa fa-2x fa-linkedin-square"></i> </a></li>
                                            <li><a href="#" title="Instagram" class="TopMenuColor"><i class="fa fa-2x fa-instagram"></i> </a></li>
                                            <li></li>
                                            <li><a href="#" class="TopMenuColor"> About us </a></li>
                                        </ul>

                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#" class="TopMenuColor"> <i class="fa fa-envelope"></i> abhi.recoil2051@gmail.com</a> </li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <form class="navbar-form navbar-left" role="search">
                                                <div class="form-group">
                                                    <input class="form-control" style="width:400px" placeholder="Search Cutlery, interior items" type="text">
                                                </div>
                                                <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                       </div>
                                         <div class="col-md-6">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                                                <li><a href="#"><i class="fa fa-shopping-bag"></i> My Cart</a></li>
                                                <li><a href="#"><i class="fa fa-cart-arrow-down"></i> Checkout</a></li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Hi, User<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                                                        <li><a href="#"><i class="fa fa-shopping-bag"></i> My Cart</a></li>
                                                        <li><a href="#"><i class="fa fa-cart-arrow-down"></i> Checkout</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                                                    </ul>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        
        <div class="row text-center graphicalMenu">
            <div class="col-md-12">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/cutlery.jpg" class="img-circle graphicalMenuimg" /><br /><span>Cutlery</span> </a></li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/serveware.jpg" class="img-circle graphicalMenuimg" /><br /><span>Serveware</span> </a></li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/tableace.jpg" class="img-circle graphicalMenuimg" /><br /><span>Table Accessories</span> </a></li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/Dining.jpg" class="img-circle graphicalMenuimg" /><br /><span>Dining Accessories</span> </a></li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/Furniture.jpg" class="img-circle graphicalMenuimg" /><br /><span>Furniture</span> </a></li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/HomeDecor.jpg" class="img-circle graphicalMenuimg" /><br /><span>Home Decor</span> </a></li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/barace.jpg" class="img-circle graphicalMenuimg" /><br /><span>Bar Accessories</span> </a> </li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/interior.jpg" class="img-circle graphicalMenuimg" /><br /><span>Interior Accessories</span> </a> </li>
                        <li><a href="#" class="graphicalMenuColor"><img src="~/Images/Menu/gifts.jpg" class="img-circle graphicalMenuimg" /><br /><span>Gifts</span> </a> </li>

                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</body>
</html>
